p {
    color: blue;
   }

.red {
    color: red;
}
 
 .orange {
     color: darkorange;
 }  
 .blue {
     color: blue
 }
 }
 .underline {
     text-decoration: underline
 } 
 .special-title {
     text-transform: uppercase;
     text-decoration: underline;
 }
 
 
